/*<!--
	Author:   Nathan Brigmon @ Civic Analytics
    Date:     6/18/2014
    URL:      /Civic/Projects/EAPDD/01_Working_Data/Nathan/FusionTableMapping/WebCode/index.html
	Comments: This page was designed to be a testing ground for creating the interactive pilot 
	viewer for the EAPDD. The web page is hosted on Google Drive.
-->/*/

@charset 'UTF-8';

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		margin: 0;
		padding: 0;
	}

	body,input,textarea,select,p
	{
		font-family: 'Helvetica', sans-serif;
		font-size: 11pt;
		font-weight: 300;
		line-height: 1.75em;
	}
		
	b {
		font-weight: 700;
	}
	.container > a
	{
		text-decoration: none;
		color: white;
	}
	
	.container > a:hover
	{
		font-weight:600;
	}

	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
		margin: 6em 0 0 0;
		padding: 6em 0 0 0;
	}
	

	.button
	{
		position: relative;
		display: inline-block;
		background: #E9E9E9;
		padding: 0.2em .8em;
		font-weight: 300;
		color: #111 !important;
		-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
		text-align: center;
	}

	.button:hover
	{
		background: #D8D8D8;
		color: #333 !important;
	}

	.divider
	{
		vertical-align:middle;
		height:40px;
		text-align:right;
		background-color: #636266;
		border:1px solid #6F6E73;
		font-size:18px;
		box-shadow: 3px 3px 1px #CDCBBC;
		-webkit-box-shadow: 3px 3px 1px #CDCBBC;
		-moz-box-shadow: 3px 3px 1px #ccc;
	}
	.divider:hover
	{
		background-color: #6F6E73;
		box-shadow: 3px 3px 1px #CDCBBC;
		-webkit-box-shadow: 3px 3px 1px #CDCBBC;
		-moz-box-shadow: 3px 3px 1px #CDCBBC;

	}
	.divider > img
	{
		vertical-align:middle;
		height:40px;
		text-align:right;
	}
	
	.tableResults{
		border:1px solid #777777; 
		margin:0 auto;
		background-color:#FAFAFA;
		padding:1px; 
		width:90%;
	}

	#googft-mapCanvas {
	  height: 100%;
	  margin: 0 auto;
	  padding: 5px;
	  width: 90%;
	  border:2px solid #777777; 
	  margin: 0 auto;
	  z-index: 1;
	}

	#sub-header
	{
	  text-align:center;
	  padding: 20px;
	}
	
	#searchOptions{
	  width:90%;
	  text-align:left;
	  margin: 0 auto; 
	  padding: 10px;
	  font-size: 1.6em;
	  line-height: 2em;
	  vertical-align: middle;
	}
	.dropdownButton {
		font-size: 20px;
		vertical-align: middle;
		padding: 5px;
		font-family: 'Helvetica', sans-serif;
	}
	.searchButtons{
		font-size: 20px;
		vertical-align: middle;
		height:32px;
		width:200px;
		padding-left: 10px;
	}
	h4, h2 {
	  margin: 0 0 0 0;
	  color:#888888;
	}
	.container {
		width: 1025px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 3px 3px 2px 3px #CDCBBC;
		-webkit-box-shadow: 3px 3px 2px 3px #CDCBBC;
		-moz-box-shadow: 3px 3px 2px 3px #CDCBBC;
		background-color: #FFFFFF;

	}
	div#main{
		background-color: #F0EDDC;
	}
	#menu_button
	{
		background-color:white;
		border:none;
		position:absolute;
		width:100px;
	}
	th
	{
		text-align:center;
		font-weight: 500;
	}
	td
	{
		font-size:10px;
	}
	.googft-info-window a{
		color:blue;
	}
	.googft-info-window a:hover{
		text-decoration: underline;
	}

/*********************************************************************************/
/* Map Menu                                                                      */
/*********************************************************************************/
	#map-menu{
		background-color:#434245;
		padding:3px;
		position:absolute;
		z-index:10;
		width:250px;
		margin-left:50px;
	}
	#map-menu h3{
		font-size: 14px;
		border:1px solid #777777; 
		padding:1px; 
		background-color:#FAFAFA;
		margin: 0 0 5px 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	#map-menu h3:hover{
		font-weight:600;
		background-color: #F6CEB1;
	}
	#map-menu li{
		background-color: #FBFBFB;
		border:1px solid #666666; 
	}

	#map-menu li:hover{
		background-color: #F6CEB1;
	}
	.crime-list, .demo-list,
	.edu-list, .env-list, .parks-list,
	.infra-list, .biz-list{
		font-size: 12px;
		border:none; 
		padding:0px;
		margin: 0 0 5px 0;
		padding-left: 10px;
		padding-right: 10px;
		display:none;
	}
	.plan-list{
		font-size: 12px;
		border:none; 
		padding:0px;
		margin: 0 0 5px 0;
		padding-left: 10px;
		padding-right: 10px;
	}
    #download-iframe
    {
        display:none;
    }
/*********************************************************************************/
/* Tutorial CSS                                                                  */
/*********************************************************************************/

	h4.subheader{
		text-align:center;
		color:#F4781E;
		padding:8px;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1.75em;
	}
	.subcontainer
	{
		padding-left: 10%;
		padding-right: 10%;
		display:none;
	}
	.subcontainer_intro
	{
		padding-left: 10%;
		padding-right: 10%;
	}
	div.subcontainer>p,
	div.subcontainer_intro>p{
		line-height: 1.4em;
		margin:20px 0 20px 0;
	}
	.subcontainer > img{
		margin-left: auto;
		margin-right: auto;
		display:block;
		padding:5px;
		margin-top: 10px;
		border:1px solid #888888;
		box-shadow: 3px 3px 1px #ccc;
		-webkit-box-shadow: 3px 3px 1px #ccc;
		-moz-box-shadow: 3px 3px 1px #ccc;
	}
	div.subcontainer > p > a:link,
	div.subcontainer_intro > p > a:link,
	div.subcontainer > p > a:visited,
	div.subcontainer_intro > p > a:visited
	{
		color:#F4781E;
		text-decoration: none;
	}
	div.subcontainer > p > a:hover,
	div.subcontainer_intro > p > a:hover{
		text-decoration: underline;
		
	}
	div.subcontainer > p.caption{
		text-align: center;
		color:#777777;
		margin-top: 3px;
		font-size: 0.8em;
	}
	.subcontainer > ul{
		margin-left: 30px;
		list-style-type: square;
	}
